__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

*.log
local_settings.py
db.sqlite3
*.sqlite3

.env
.venv
env/
venv/
ENV/
.pythonlibs/

staticfiles/
media/

*.swp
*.swo
*~
.DS_Store
Thumbs.db

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

*.mo
*.pot

.coverage
htmlcov/
.tox/
.nox/
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

node_modules/

.upm/
.cache/
